@model Proyecto_Programacion_III.Models.Entidades.Cliente

<h2>Eliminar Cliente</h2>

<h4>¿Está seguro que desea eliminar este cliente?</h4>

<div>
    <strong>Identificación:</strong> @Model.Identificacion <br />
    <strong>Nome:</strong> @Model.NomeCompleto <br />
    <strong>Teléfono:</strong> @Model.Telefone <br />
    <strong>Email:</strong> @Model.Email
</div>

<br />

<form asp-action="Delete">
    <input type="hidden" asp-for="ClienteId" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
