@model Proyecto_Programacion_III.Models.Entidades.Agendamentos 

<form asp-action="Create" method="post">
    <h2>Agendamento de serviço</h2>
    <br />
 
    <h5>Seleccione cliente</h5>
    <select asp-for="ClienteId" class="form-control" required>
        <option disabled selected value="">-- Selecione um cliente --</option>
        @foreach (var item in ViewBag.Clientes)
        {
            <option value="@item.ClienteId">@item.NomeCompleto</option>
        }
    </select>
    <span asp-validation-for="ClienteId" class="text-danger"></span>
    <br />

    <h5>Seleccione Servicos</h5>
    <select asp-for="ServicosId" class="form-control" required>
        <option disabled selected value="">-- Selecione um serviço --</option>
        @foreach (var item in ViewBag.Servicoss)
        {
            <option value="@item.ServicosId">@item.Nome</option>
        }
    </select>
    <span asp-validation-for="ServicosId" class="text-danger"></span>
    <br />
    
    <br />
    <h5>Selecione uma data</h5>
    <input asp-for="Data" type="datetime-local" class="form-control" />
    <span asp-validation-for="Data" class="text-danger"></span>
    <br />

    <button type="submit" class="btn-primary">guardar</button>

</form>

