@model Proyecto_Programacion_III.Models.Entidades.Agendamentos

<h2>Eliminar Agendamentos</h2>

<h4>¿Seguro que deseas eliminar esta Agendamentos?</h4>

<div>
    <p><strong>Cliente:</strong> @Model.Cliente?.NomeCompleto</p>
    <p><strong>Servicos:</strong> @Model.Servicos?.Nome</p>
    <p><strong>Fecha:</strong> @Model.FechaHora</p>
    <p><strong>Estado:</strong> @Model.Estado</p>
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />

    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
